# Swap
*.swp
*.swo

# Compiled shaders
*.spv

# Build
build/
scripts/local_*.sh
projects/

# Visual Studio
/.vs
/CMakeSettings.json

# ImGui
imgui.ini

# Debugging/Profile
perf.*
.gdb_history
profile/
