# Swap
*.swp
*.swo

# Compiled shaders
*.spv

# Build
build/
scripts/local_*.sh
projects/
resources/

# Visual Studio
/.vs
/CMakeSettings.json

# Local config
src/atta/cmakeConfig.h

# ImGui
imgui.ini

# Debugging/Profile
perf.*
.gdb_history
profile/
