[submodule "src/extern/googletest"]
	path = src/extern/googletest
	url = git@github.com:google/googletest.git
[submodule "src/extern/glfw"]
	path = src/extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/extern/imgui"]
	path = src/extern/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "src/extern/assimp"]
	path = src/extern/assimp
	url = https://github.com/assimp/assimp
[submodule "src/imguizmo"]
	path = src/extern/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "src/extern/box2d"]
	path = src/extern/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "src/extern/bullet3"]
	path = src/extern/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "src/extern/cpprestsdk"]
	path = src/extern/cpprestsdk
	url = git@github.com:microsoft/cpprestsdk.git
    fetchRecurseSubmodules = true
